

<div id="xin" class="col-md-6 col-md-offset-3">
<section>
<h4><a href="https://cloud.google.com" target="_blank">Hello GCP</a>
</h4>
<article>
<ul>
    <li>
        --This is Tom Chen--
    </li>
    <li>
        GCP 可以使用一下免費的 MSSQL SERVER (till 2019.5.12)
    </li>
    <li>
        SQL on Linux Ubuntu
    </li>
</ul>

</article>
</section>
<aside>
    More to follow
    <i class="fas fa-sync-alt fa-spin fa-2x"></i>
</aside>
</div>

