

<div id="xin" class="col-md-6 col-md-offset-3">
<section>
<h4><a href="https://youtu.be/5Q1i9Oej6Ok" target="_blank">不會消失的夜晚</a>
</h4>
<article>
<ul>
    <li>
        總算 - google colud platform 可以使用一下免費的 MSSQL SERVER (2019.5.12 - 才到期)
    </li>
</ul>

</article>
</section>
<aside>
    More to follow
    <i class="fas fa-sync-alt fa-spin fa-2x"></i>
</aside>
</div>

