

<div id="xin" class="col-md-6 col-md-offset-3">
<section>
<h3><a href="https://youtu.be/5Q1i9Oej6Ok" target="_blank">不會消失的夜晚</a>
</h3>
<article>

<p>一個小妹妹唱的...還不錯聽</p>
不知道你是否記得昨天 妳是我這輩子最思念的人
到如今妳已不在身邊 妳的笑 在我心底徘徊

不知道妳現在是否寂寞 未來妳有妳自己的路要走
才明白 妳已不再承諾 這人生 到底帶點荒謬

冰封了所有的永遠 切不斷對妳的眷戀
還記得那天 妳說愛我不變

就算是輸了全世界 也想再聽妳說一遍
我要妳 永遠在我身邊

不知道妳現在是否寂寞 未來妳有妳自己的路要走
才明白 妳已不再承諾 這人生 到底帶點荒謬

冰封了所有的永遠 切不斷對妳的眷戀
還記得那天 妳說愛我不變

就算是輸了全世界 也想再聽妳說一遍
我要妳 永遠在我身邊

沈睡的人會自由飛翔 在這不會消失的夜晚
任憑一切都化成雲煙 對妳的思念永遠不變

冰封了所有的永遠 切不斷對妳的眷戀
還記得那天 妳說愛我不變

就算是輸了全世界 也想再聽妳說一遍
我要妳 永遠在我身邊 

</article>
</section>
<aside>
    More to follow
    <i class="fas fa-sync-alt fa-spin fa-2x"></i>
</aside>
</div>

